<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	
	<appSettings>
		<add key="server" value="LEGIONAR\SQLEXPRESS"/>
		<add key="database" value="Lab1_SGBD"/>
		<add key="parentTable" value="Lant"/>
		<add key="parentPrimaryKey" value="id_lant"/>
		<add key="childTable" value="Locatie"/>
		<add key="childForeignKey" value="id_lant"/>
		<add key="childPrimaryKey" value="id_locatie"/>
		<add key="formName" value="Lanturi si Locatii"/>
	</appSettings>
	<!--
    <appSettings>
		<add key="server" value="LEGIONAR\SQLEXPRESS"/>
		<add key="database" value="SGBD_Sol_Lab2"/>
		<add key="parentTable" value="Groups"/>
		<add key="parentPrimaryKey" value="Gid"/>
		<add key="childTable" value="Students"/>
		<add key="childForeignKey" value="Gid"/>
		<add key="childPrimaryKey" value="Sid"/>
		<add key="formName" value="Groups and Students"/>
	</appSettings>
	-->
</configuration>
