<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="server" value="LEGIONAR\SQLEXPRESS"/>
		<add key="database" value="Lab1_SGBD"/>
		<add key="parentTable" value="Lant"/>
		<add key="parentPrimaryKey" value="id_lant"/>
		<add key="childTable" value="Locatie"/>
		<add key="childForeignKey" value="id_lant"/>
		<add key="childPrimaryKey" value="id_locatie"/>
	</appSettings>

	<!--
    <appSettings>
    <add key="parentTable" value="CoursesTypes"/>
    <add key="parentPrimaryKey" value="Tid"/>
    <add key="childTable" value="Courses"/>
    <add key="childForeignKey" value="Tid"/>
    <add key="server" value="DESKTOP-VB4PGBM\SQLEXPRESS"/>
    <add key="database" value="Lab2_CS_DGV"/>
    </appSettings>
  -->
</configuration>
